div
{
    width: 500px;
    padding: 20px;
    background-color: blueviolet;
    background-color: #8a2ba2;
    background-color: rgb(138, 42, 266);
    margin: auto;



}
.assign-1-shape-2
{
    opacity: 50%;
}
.assign-1-shape-3
{
    opacity: .1;
}